.places h1{
    font-size: 30px;
}

.places article h2{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
}

.places h2{
    font-size: 30px;
    text-align: center;
}
